html {
  box-sizing: border-box;
  position: relative; }

/* VARS */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #fafafa;
  text-decoration: none;
  background-color: #fafafa;
  margin: 0; }

nav {
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px; }
  nav .nav-left {
    padding: 14px 16px; }
  nav .burger {
    padding: 14px 16px; }
  nav #nav-links a:hover {
    background-color: #4c4c4c; }

ul {
  margin: 0px;
  padding: 14px; }

a {
  text-decoration: none;
  color: #fafafa; }

#me {
  margin-top: 50px;
  background-color: #4c4c4c;
  display: flex;
  flex-direction: column; }
  #me .container {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center; }
    #me .container img.profile-image {
      height: 150px;
      border-radius: 100px;
      border: 4px solid #fafafa;
      box-shadow: 0px 0px 15px 0px #333333; }

#about .container {
  background-color: #989898;
  padding: 14px 100px;
  text-align: justify; }
  @media only screen and (max-width: 768px) {
    #about .container {
      padding: 14px 30px; } }

#skills .container {
  background-color: #4c4c4c;
  padding: 14px 100px;
  text-align: justify; }
  @media only screen and (max-width: 768px) {
    #skills .container {
      padding: 14px 30px; } }
  #skills .container .skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    #skills .container .skill-icons .icon-container {
      height: 150px; }
      #skills .container .skill-icons .icon-container i {
        border: 5px solid darkorange;
        background-color: darkorange;
        border-radius: 5px;
        text-align: center;
        font-size: 100px;
        margin: 14px 30px; }
      #skills .container .skill-icons .icon-container p {
        opacity: 0; }
        @media only screen and (max-width: 768px) {
          #skills .container .skill-icons .icon-container p {
            opacity: 1;
            margin: 0px 30px 30px 30px;
            border: 10px solid darkorange;
            border-radius: 0px 0px 5px 5px;
            background-color: darkorange;
            text-align: center; } }
    #skills .container .skill-icons .icon-container:hover p {
      opacity: 1 !important;
      margin: 0px 30px 30px 30px;
      border: 10px solid darkorange;
      border-radius: 0px 0px 5px 5px;
      background-color: darkorange;
      text-align: center; }

#experience .container {
  background-color: #989898;
  padding: 14px 100px; }
  @media only screen and (max-width: 768px) {
    #experience .container {
      padding: 14px 30px; } }
  #experience .container #projects {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #experience .container #projects .project-container {
      text-align: justify;
      box-shadow: 2px 3px 4px -1px rgba(102, 54, 0, 0.61);
      border: 20px solid darkorange;
      border-radius: 5px;
      margin-bottom: 30px;
      background-color: darkorange;
      height: 460px;
      width: 40%; }
      #experience .container #projects .project-container .imgcontainer {
        text-align: center; }
        #experience .container #projects .project-container .imgcontainer img {
          width: 90%; }
      #experience .container #projects .project-container h4 {
        margin: 10px 0px 10px 0px; }
      #experience .container #projects .project-container ul {
        margin: 0px;
        padding: 14px; }
    @media only screen and (max-width: 768px) {
      #experience .container #projects .project-container {
        box-shadow: 2px 3px 4px -1px rgba(102, 54, 0, 0.61);
        border: 20px solid darkorange;
        border-radius: 5px;
        margin-bottom: 30px;
        background-color: darkorange;
        height: auto;
        width: 90%; }
        #experience .container #projects .project-container .imgcontainer {
          text-align: center; }
          #experience .container #projects .project-container .imgcontainer img {
            width: 90%; }
        #experience .container #projects .project-container h4 {
          margin: 10px 0px 10px 0px; } }

#hobbies .container {
  background-color: #989898;
  padding: 14px 100px;
  text-align: justify; }
  @media only screen and (max-width: 768px) {
    #hobbies .container {
      padding: 14px 30px; } }

#education .container {
  background-color: #4c4c4c;
  padding: 14px 100px;
  text-align: justify; }
  @media only screen and (max-width: 768px) {
    #education .container {
      padding: 14px 30px; } }

@media only screen and (max-width: 768px) {
  nav #nav-links {
    background-color: #333333;
    display: none;
    flex-direction: column; }
    nav #nav-links a {
      padding: 14px 16px; }
  nav .burger {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    nav .burger span {
      width: 100%;
      height: 2px;
      background-color: orange;
      display: block;
      transition: transform 0.3s; } }
@media only screen and (min-width: 769px) {
  nav .burger {
    display: none; }
  nav #nav-links {
    display: flex;
    flex-direction: row; }
    nav #nav-links a {
      padding: 14px 16px; }
  nav .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }

/*# sourceMappingURL=style.css.map */
