html{
  box-sizing: border-box;
  position: relative;
}


/* VARS */
$navcolor: #333333;
$primary: #989898;
$secondary: #4c4c4c;
$textcolor: #fafafa;

body{
  font-family: 'Montserrat', sans-serif;
  color: $textcolor;
  text-decoration: none;
  background-color: #fafafa;
  margin: 0;
}

nav{
  background-color: $navcolor;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;

  .nav-left{
    padding: 14px 16px;
  }

  .burger{
    padding: 14px 16px;
  }
  #nav-links{
    a:hover{
    background-color: $secondary;
    }
  }
}

a{
  text-decoration: none;
  color: $textcolor;
}

#me{
  margin-top: 50px;
  background-color: $secondary;
  display: flex;
  flex-direction: column;
  .container{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    img.profile-image{
      height: 150px;
      border-radius: 100px;
      border: 4px solid $textcolor;
      box-shadow: 0px 0px 15px 0px $navcolor;
    }
  }
}

#about{
  .container{
    background-color: $primary;
    padding: 14px 100px;
    text-align: justify;
  }
}

#skills{
  .container{
    background-color: $secondary;
    padding: 14px 100px;
    text-align: justify;
    .skill-icons{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .icon-container{
        i{
          border: 5px solid darkorange;
          background-color: darkorange;
          border-radius: 5px;
          text-align: center;
          font-size: 100px;
          margin: 14px 30px;
        }
        p{
          opacity: 0;
          @media only screen and (max-width: 768px) {
            opacity: 1;
            margin: 0px 30px 30px 30px;
            border: 10px solid darkorange;
            border-radius: 0px 0px 5px 5px;
            background-color: darkorange;
            text-align: center;
          }
        }
      }
    .icon-container:hover{
      p{
        opacity: 1 !important;
        margin: 0px 30px 30px 30px;
        border: 10px solid darkorange;
        border-radius: 0px 0px 5px 5px;
        background-color: darkorange;
        text-align: center;
      }
    }
    }
  }
}

#experience{
  .container{
    background-color: $primary;
    padding: 14px 100px;
    text-align: justify;

    #projects{
      display: flex;
      flex-wrap: wrap;
      .project-container{
        width: 50%;
        img{
          width: 70%;
        }
      }
    }
  }
}

#hobbies{
  .container{
    background-color: $primary;
    padding: 14px 100px;
    text-align: justify;
  }
}

#education{
  .container{
    background-color: $secondary;
    padding: 14px 100px;
    text-align: justify;
  }
}



@media only screen and (max-width: 768px) {
  body{

  }

  nav{

    #nav-links{
      background-color: $navcolor;
      display: none;
      flex-direction: column;
      a{
        padding: 14px 16px;
      }
    }

  .burger {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
    width: 100%;
    height: 2px;
    background-color: orange;
    display: block;
    transition: transform 0.3s;
    }

   }
 }
}

@media only screen and (min-width: 769px) {
  body{

  }

  nav{

    .burger{
      display: none;
    }

    #nav-links{
      display: flex;
      flex-direction: row;
      a{
        padding: 14px 16px;
      }
    }

    .container{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
